JA.Modulecontrolar/JA.Modulecontrolar/Service References/JACCMS/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:125/JAGORON/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:125/JAGORON/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/JA.Accounts.Model" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAccountsGroupResult" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strGroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strUnder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCashflowType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAccountType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertGroupResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsTreeview">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsTreeviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JA.Accounts.Model" minOccurs="0" name="GetAccountsTreeviewResult" nillable="true" type="q2:ArrayOfAccountdGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mlngGroupAs" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JA.Accounts.Model" minOccurs="0" name="GetGroupListResult" nillable="true" type="q3:ArrayOfAccountdGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mUpdateGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mlngGroupSerial" type="xs:long" />
        <xs:element minOccurs="0" name="strGroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strUnder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCashflowType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAccountType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mUpdateGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mUpdateGroupResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mlngGroupSerial" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mFillCurrencyList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="mFillCurrencyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JA.Accounts.Model" minOccurs="0" name="mFillCurrencyListResult" nillable="true" type="q4:ArrayOfAccountsLedger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mFillGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="mFillGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JA.Accounts.Model" minOccurs="0" name="mFillGroupResult" nillable="true" type="q5:ArrayOfAccountdGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mDisplayOpening">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="mDisplayOpeningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mDisplayOpeningResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mInsertCostCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCostCategory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mInsertCostCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mInsertCostCategoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mUpdateCostCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stroldCostCategory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strNewCostCategory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mUpdateCostCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mUpdateCostCategoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mFillVectorCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="mFillVectorCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JA.Accounts.Model" minOccurs="0" name="mFillVectorCategoryResult" nillable="true" type="q6:ArrayOfVectorCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>